@import url('https://fonts.googleapis.com/css?family=Gorditas:700');;

  h1.logo {
    font-family: 'Gorditas', cursive;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: #F08080;
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
  }

  .logo:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 40px #FFD700 , 0 0 70px #FFD700 , 0 0 80px #FFD700 , 0 0 100px #FFD700 ;
  }

  a{
    color: #F08080;
  }

  h3.logo{
    font-family: 'Gorditas', cursive;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #F08080;
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
  }
